<!DOCTYPE html>
<html>

    <!--- Header -->
    <%- include('partials/header.ejs') %>

    <!--- Body -->
    <body> 
        <!--- SELECTA -->
        <div id="Selecta">

            <!--- MENU INTERFACE -->
            <%- include('partials/interfaces/menu.ejs') %>

            <!--- SEARCH INTERFACE -->
            <%- include('partials/interfaces/search.ejs') %>

            <!--- VOTE INTERFACE -->
            <%- include('partials/interfaces/vote.ejs') %>

            <!--- SETTINGS INTERFACE -->
            <%- include('partials/interfaces/settings.ejs') %>

            <!--- LOGOUT INTERFACE -->
            <%- include('partials/interfaces/logout.ejs') %>

            <!-- CANVAS -->

        </div>

        <!--- Footer -->
        <%- include('partials/footer.ejs') %>
    </body>


</html>

