<!DOCTYPE html>
<html>

    <!-- Header -->
    <%- include('partials/header.ejs') %>

    <!-- Body -->
    <body> 

        <!-- LOADING SCREEN -->
        <%- include('partials/interfaces/loading.ejs') %>

        <!-- SELECTA -->
        <div id="Selecta" style="display:none;">

            <div id="interface_wrapper">
                
                <!-- MENU INTERFACE -->
                <%- include('partials/interfaces/menu.ejs') %>
    
                <!-- SEARCH INTERFACE -->
                <%- include('partials/interfaces/search.ejs') %>
    
                <!-- VOTE INTERFACE -->
                <%- include('partials/interfaces/vote.ejs') %>
    
                <!-- SETTINGS INTERFACE -->
                <%- include('partials/interfaces/settings.ejs') %>
    
                <!-- LOGOUT INTERFACE -->
                <%- include('partials/interfaces/logout.ejs') %>

            </div>

            <div id="player_wrapper">
                
                <!-- PLAYER -->
                <%- include('partials/interfaces/player.ejs') %>

            </div>

            <div id="canvas_wrapper">

                <!-- CANVAS -->

            </div>

            <!-- TEMPLATES -->
            <%- include('partials/templates.ejs') %>

        </div>

        <!--- Footer -->
        <%- include('partials/footer.ejs') %>
    </body>


</html>

